* {
  box-sizing: border-box;
}

*:link, *:visited {
  text-decoration: none;
  color: rgb(0, 73, 157);
}

body {
  font-family: 'PT Sans', sans-serif;
  padding: 0;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: rgb(238, 238, 238);
}

h1, h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 3em;
}

header {
  padding-bottom: 2px;
}

header > h1 {
  margin-bottom: 0;
}

header > p {
  text-align: center;
  margin-top: 0;
  font-size: 1.5em;
}

nav {
  position: relative;
  padding: 20px 0 0;
  margin: 0;
}

nav > div {
  width: 95%;
  margin: auto;
  overflow: auto;
  border-bottom: solid 1px rgb(192, 192, 192);
}

#nav-home, #nav-contact {
  display: inline-block;
  padding: 5px;
  line-height: 30px;
}

#nav-home {
  float: left;
  font-size: 1.2em;
  font-weight: normal;
  text-align: left;
}

#nav-contact {
  float: right;
  text-align: right;
  bottom: 0;
}

main {
  width: 100%;
  overflow: auto;
}

section {
  text-align: center;
  border-radius: 20px;
  width: 250px;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 20px;
  background: rgb(255, 255, 255);
  border: solid 1px rgb(192, 192, 192);
}

section h2 {
  margin: 0;
  padding: 5px;
}

section p {
  margin: 0;
  padding: 5px;
  font-size: 1.2em;
}

article {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px 7px;
  border: solid 1px rgb(192, 192, 192);
  border-radius: 5px;
  background: rgb(255, 255, 255);
}

article > h1 {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 0px;
  font-weight: bold;
}

article > .subhead {
  margin-top: 0px;
  font-family: "PT Sans Caption";
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.toggle {
  position: absolute;
  right: 5px;
  bottom: 0px;
  text-decoration: underline;
}

.tool-name {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

.code, .line-number {
  font-family: "Inconsolata", monospace;
}

.comment {
  color: rgb(88, 89, 88);
}

.key-word {
  color: rgb(158, 0, 73);
}

table.config td:nth-child(2) {
    width: 18%;
    min-width: 100px;
}

td {
  padding-right: 10px;
  line-height: 20px;
  vertical-align: top;
}

td.line-number {
  width: 1%;
  min-width: 20px;
  color: rgb(88, 89, 88);
  text-align: right;
  padding-left: 10px;
}

footer {
  width: 95%;
  margin: auto;
  padding: 20px;
  border-top: solid 1px rgb(192, 192, 192);
  text-align: center;
  font-size: 0.8em;
}

footer, footer > a:link {
  color: rgb(100, 100, 100);
}

#tools-container {
  width: 90%;
  padding: 0;
  margin: 0 auto;
}

/* tablets, laptops... */
@media (min-width: 768px) { 
  header {}

  nav > div, footer {
    width: 748px;
    margin: auto;
  }

  footer {
    margin-top: 20px;
  }

  main {
    max-width: 768px;
    margin: auto;
  }

  #tools-container {
    width: 587px;
    margin: 0 auto;
    padding: 0;
  }

  #tools-container section {
    display: inline-block;
    margin: 0;
  }

  #tools-container section:nth-child(0n+1) {
    margin-right: 80px;
    color: red;
  }

  article {
    width: 754px;
    margin-left: auto;
    margin-right: auto;
  }

  td.line-number {
    min-width: 50px;
  }
}
